body {
background-color: rgb(255, 255, 255);
display:flex;
justify-content: center;
align-items: center;
height: 90vh;
margin: 0;
font-family: Arial, sans-serif;
}

.cartão {
   width: 380px;
   height: auto;
   border: 2px;
}